@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --lightblue:blue;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, white, lightblue);
    column-gap: 30px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins';
    border:none;
    outline:none;
    text-decoration:none;
    text-transform: capitalize;
    transition:.2s linear;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:white;
    padding: 0.25rem 0.5rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:0.5rem .1rem rgba(0,0,0,.1) 
}

.log{
    width:50px;
    float:left;
}

header .logo{
    font-size:3rem;
    color: black;
    font-weight: bolder;
}

header .logo span{
    color:var(--lightblue);
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-right: 3rem; 
}

.nav-item a {
    text-decoration: none;
    color: black;
}

header .navbar a{
    font-size:2rem;
    padding:0 .5rem;
    color:black;
}

header .navbar a:hover{
    color:var(--lightblue);
}

section{
    padding:2rem 9%;
}

.home{
    display:flex;
    align-items:center;
    min-height:100vh;
}

.cover{
    position: absolute;
    top: 0px;
    right: 0;
    padding-top: 50px;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.home .content{
    max-width:50rem;
    }

.home .content h3{
    font-size:6rem;
    color:black; 
}

.home .content span{
    font-size:3rem;
    color:var(--lightblue);
    padding:1rem 0;
    line height:1.5;
}

.btn{
    display:block;
    margin-top:1rem;
    width:30%;
    border-radius:5rem;
    background:orangered;
    color:white;
    padding:.9rem 3.5rem;
    font-size:1.7rem;

}

.btn:hover{
    background: orange;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.content p{
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    padding-left:65rem;
    margin-top:10px;
    text-align:justify;
}

.heading span{
    margin-top:10px;
    color:orangered;
    font-size:3rem;
    top: -20px;
    padding-left:65rem ;
    display: block;
    text-align: center;
}

.abpic{
    max-width:50%;
    background-position: auto;
    position: absolute;
    padding-top: 0px;
    width: 30%;
    height: 50%;
    left: 23rem;
}






.cont{
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}
.cont p{
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    padding-right:60rem;
    margin-top:10px;
    text-align:justify;
}

.cont li{
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    padding-right:60rem;
    margin-top:10px;
    text-align:left;
}

.process{
    margin-top:25px;
    color:orangered;
    font-size:3rem;
    top: -20px;
    padding-right:60rem;
    display: block;
    text-align: center;
}

.dpic{
    max-width: 50%; 
    background-position: right; 
    position: absolute; 
    padding-left: 0; 
    width: 35%; 
    height: 65%; 
    right: 15rem;
}


.but{
    display:block;
    margin-top:1rem;
    margin-right:50%;
    width:10%;
    border-radius:5rem;
    background:orangered;
    color:white;
    padding:.9rem 3.5rem;
    font-size:1.7rem;
}

.but:hover{
    background: orange;
}







.con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.con p{
    font-size:1.5rem;
    display:flex;
    justify-content:space-between;
    padding-left:65rem;
    margin-top:10px;
    text-align:justify;
}

.find{
    margin-top:100px;
    color:orangered;
    font-size:3rem;
    top: -20px;
    padding-left:65rem ;
    display: block;
    text-align: center;
}

.dopic{
    max-width:50%;
    background-position: auto;
    position: absolute;
    padding-top: 0px;
    width: 40%;
    height: 50%;
}

.butt{
    display:block;
    margin-top:1rem;
    margin-left:50%;
    width:13%;
    border-radius:5rem;
    background:orangered;
    color:white;
    padding:.9rem 3.5rem;
    font-size:1.7rem;
}

.butt:hover{
    background: orange;
}





.c{
    margin-top:60px;
    color:orangered;
    font-size:3rem;
    top: -20px;
    padding-right:60rem;
    display: block;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
}

.row {
    margin-top:15px;
    width: 100%;
    max-width: 600px;
}

.box {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
}

.button {
    display:block;
    margin-top:1rem;
    margin-right:50%;
    width:20%;
    border-radius:5rem;
    background:orangered;
    color:white;
    padding:.9rem 3.5rem;
    font-size:1.7rem;
}

.button:hover {
    background: orange;
}


.cpic{
    max-width: 50%; 
    background-position: right; 
    position: absolute; 
    padding-left: 0; 
    width: 35%; 
    height: 65%; 
    right: 15rem;
}

@media(max-width:960px){
    html{
      font-size:55%;  
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
}


















